.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.banana-img {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
        margin-top: -300px;
        height: 300px;
        margin: 0 auto;
         margin-top: 50px;
  
  animation: bounce 1.5s infinite alternate;
  -webkit-animation: bounce 1.5s infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

.game {
  border: 2px solid black;
}

.booger-img, .tissue-img{
  height: 60px;
}

.Question {
  background: #FF9999;
  height: 100%;
  padding: 60px 0;
}


.Question .question-container {
  padding: 60px 0 0 0;
}

.Question .answers-container {
  padding: 60px 30px;
}

.Question .btn {
  background: #1BBABA;
  display: block;
  width: 100%;
}
