html {
  background-image: url('https://www.dropbox.com/s/q97qnb6324kvzfh/BloodVein.jpg?dl=1');
}

.App {
  text-align: center;
  /*background: #222;*/
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  /*background-color: #222;*/
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.banana-img {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
        margin-top: -300px;
        height: 300px;
        margin: 0 auto;
         margin-top: 50px;

  animation: bounce 1.5s infinite alternate;
  -webkit-animation: bounce 1.5s infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

.game {
  /*border: 2px solid black;*/
}

.booger-img, .tissue-img{
  height: 60px;
}
.container.fixed-width {
  width: 1000px;

}


.no-side-paddings {
  padding-left: 0 !important;
  padding-right: 0 !important;
}



/* Layout Boxes ================================== */
.hero-box, .enemy-box {
  height: 350px;
  /*background: #8B1E3F;*/
}

.enemy-box {
  /*background: #FF8C42;*/
}

.game-board-box {
  height: 700px;
  /*background: #FFF;*/
}

/* Math Question ================================== */
.MathQuestion {
  /*background: #FDE74C;*/
  height: 350px;
  padding: 30px 15px 0 15px;
}

/* Question ================================== */
.Question {
  /*background: #FF9999;*/
  height: 350px;
  padding: 30px 0 0 0;
}


.question-container {
  padding: 60px 0 0 0;
}

.answers-container {
  padding: 60px 30px;
}

.btn-answer {
  background: #1BBABA;
  display: block;
  width: 100%;
}

.btn-answer:hover {
  opacity: 0.8;
}

.boogs {
  padding-top: 20px;
}

.options {
  padding-top: 150px;
}



/* Progress Board & Boat */

.gameBoard {
  position: relative;
}

.progress-boat {
    position: absolute;
    top: 616px;
    left: 200px;
    transition: 1.2s;
}








.progress-boat.step2 {
    top: 625px;
    left: 256px;
}

.progress-boat.step3 {
    top: 625px;
    left: 256px;
}

.progress-boat.step4 {
    top: 598px;
    left: 339px;
}

.progress-boat.step5 {
    top: 558px;
    left: 360px;
}

.progress-boat.step6 {
    top: 512px;
    left: 342px;
}

.progress-boat.step7 {
    top: 482px;
    left: 300px;
}


.progress-boat.step8 {
    top: 475px;
    left: 240px;
}

.progress-boat.step9 {
    top: 475px;
    left: 184px;
}

.progress-boat.step10 {
    top: 464px;
    left: 134px;
}

.progress-boat.step11 {
    top: 420px;
    left: 120px;
}

.progress-boat.step12 {
    top: 386px;
    left: 152px;
}

.progress-boat.step13 {

    top: 380px;
    left: 202px;
}

.progress-boat.step14 {

    top: 377px;
    left: 254px;
}

.progress-boat.step15 {

    top: 371px;
    left: 299px;
}

.progress-boat.step16 {

    top: 351px;
    left: 339px;
}

.progress-boat.step17 {

    top: 303px;
    left: 345px;
}

.progress-boat.step18 {
    top: 273px;
    left: 315px;
}

.progress-boat.step19 {
    top: 273px;
    left: 255px;
}

.progress-boat.step20 {
    top: 280px;
    left: 190px;
}

.progress-boat.step21 {
    top: 280px;
    left: 120px;
}

.progress-boat.step22 {
    top: 243px;
    left: 80px;
}

.progress-boat.step23 {
    top: 203px;
    left: 130px;
}

.progress-boat.step24 {
    top: 192px;
    left: 191px;
}

.progress-boat.step25 {
    top: 187px;
    left: 251px;
}

.progress-boat.step26 {
    top: 178px;
    left: 299px;
}

.progress-boat.step27 {
    top: 140px;
    left: 313px;
}

.progress-boat.step28 {
    top: 110px;
    left: 283px;
}

.progress-boat.step29 {
    top: 108px;
    left: 237px;
}

.progress-boat.step30 {
    top: 113px;
    left: 187px;
}

.progress-boat.step31 {
    top: 83px;
    left: 147px;
}

.progress-boat.step32 {
    top: 41px;
    left: 163px;
}

.progress-boat.step33 {
    top: 25px;
    left: 197px;
}

.progress-boat.step34 {
    top: 15px;
    left: 237px;
}

.progress-boat.step35 {
    top: 15px;
    left: 277px;
}

.image-width {
  width: 600px;
}

.answer-btn {
  margin-bottom: 3px;
}

.game-title {
  font-family: 'Creepster', cursive;
  color: #7CBB35;
  text-shadow: 2px 2px black;
  margin-bottom: 40px;
}

p {
  font-size: 1.5em;
}

.game-credits {
  font-family: 'Creepster', cursive;
  color : #7CBB35;
  text-shadow: 2px 2px black;
}

.start-button-area {
  margin-top: 150px;
}

.start-buttons {
  margin-top: 20px;
  background-color: #1BBABA;
}

.btn-color {
  background-color: #1BBABA;
  color: white;
}
