html {
  background-image: url('https://www.dropbox.com/s/2mjpyup8d2y80oq/BloodVein.png?dl=1');
}

.App {
  text-align: center;
  /*background: #222;*/
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  /*background-color: #222;*/
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.banana-img {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
        margin-top: -300px;
        height: 300px;
        margin: 0 auto;
         margin-top: 50px;

  animation: bounce 1.5s infinite alternate;
  -webkit-animation: bounce 1.5s infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

.game {
  /*border: 2px solid black;*/
}

.booger-img, .tissue-img{
  height: 60px;
}
.container.fixed-width {
  width: 1000px;

}


.no-side-paddings {
  padding-left: 0 !important;
  padding-right: 0 !important;
}



/* Layout Boxes ================================== */
.hero-box, .enemy-box {
  height: 350px;
  /*background: #8B1E3F;*/
}

.enemy-box {
  /*background: #FF8C42;*/
}

.game-board-box {
  height: 700px;
  /*background: #FFF;*/
}

/* Math Question ================================== */
.MathQuestion {
  /*background: #FDE74C;*/
  height: 350px;
  padding: 30px 15px 0 15px;
}

/* Question ================================== */
.Question {
  /*background: #FF9999;*/
  height: 350px;
  padding: 30px 0 0 0;
}


.question-container {
  padding: 60px 0 0 0;
}

.answers-container {
  padding: 60px 30px;
}

.btn-answer {
  background: #1BBABA;
  display: block;
  width: 100%;
}

.btn-answer:hover {
  opacity: 0.8;
}
